*{
  padding: 0;
  margin: 0;
}

.container{
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
gap: 1rem;

}

h2{
 font-size: 48px; /* Adjust the size as needed */
    font-weight: bold;
    background: linear-gradient(45deg, rgb(240, 64, 64), pink, gold, rgb(31, 189, 31), blue, violet);
    -webkit-background-clip: text;
    color: transparent; /* Hide the original color */
    text-align: center; /* Center the text */
}

.wrapper{
  border: 2px solid black;
  border-radius: 0.5rem;
  width: 30rem;
  height: 30rem;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
}

.col{
  /* border: 1px solid salmon; */
flex: 1;

display: flex;
justify-content: start;
align-items: center;
gap: 7.4rem;

}

.box{
  width: 5rem;
  height: 5rem;
  border: 1px solid grey;
  cursor: pointer;

  &:hover{
    background-color: rgb(216, 215, 215);
  }
}